<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
        {% load static %}
		<link rel="short icon" href="#">
		<meta name="author" content="Darko Bunic"/>
		<meta name="description" content="Drag and drop table rows with JavaScript"/>
		<meta name="viewport" content="width=device-width, user-scalable=no"/><!-- "position: fixed" fix for Android 2.2+ -->
		<script type="text/javascript">
			var redipsURL = '/javascript/drag-and-drop-table-row/';
		</script>
        <link rel="stylesheet" href="{% static 'refrigerators/icon_display/two_doors.css' %}" type="text/css" media="screen" />
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script type="text/javascript" src="{% static 'refrigerators/icon_display/header.js' %}"></script>
        <script type="text/javascript" src="{% static 'refrigerators/icon_display/redips-drag-min.js' %}"></script>
        <script type="text/javascript" src="{% static 'refrigerators/icon_display/two_doors.js' %}"></script>


		<script>
		function button1_click() {
			console.log("버튼1을 누르셨습니다.");
		}
		</script>

		<title>Example 15: Drag and drop table rows</title>
	</head>
	<body>
		<button onclick="button1_click();">버튼 클릭</button>
		<button onclick="convertToJson();">버튼 클릭</button>
		<button onclick="tableToJson(document.getElementById('ice-fridge'), document.getElementById('fresh-fridge'));">냉동+냉장</button>

		<center>
			<!-- tables inside this DIV could contain drag-able content  -->
			{% csrf_token %}
			<div id="redips-drag">
				<table class="tbl1" id="ice-fridge">
					<colgroup>
						<col width="30"/>
						<col width="70"/>
						<col width="70"/>
						<col width="70"/>
						<col width="70"/>
						<col width="70"/>
					</colgroup>
					<tbody>
						<tr>
							<th colspan="6" class="redips-mark">냉동</th>
						</tr>

<!--                        {% for ctx in foods %}-->
<!--                            <tr class="rd">-->
<!--                                <td class="redips-rowhandler"><div class="redips-drag redips-row"></div></td>-->
<!--                                {% for c in ctx %}-->
<!--                                <td>-->
<!--									<div class="redips-drag white">-->
<!--										<img src="https://cdn-icons-png.flaticon.com/512/426/426750.png?w=1380&t=st=1681199906~exp=1681200506~hmac=fcb5f90ae7cb363b274dfed7153fa68dc76882a74a0463bac3c9dee263239c25" alt="사과"-->
<!--										style="width:15px;">-->
<!--										{{ c }}-->
<!--									</div>-->
<!--								</td>-->
<!--&lt;!&ndash;                                <td>{{ c }}</td>&ndash;&gt;-->
<!--                                {% endfor %}-->
<!--                            </tr>-->
<!--                        {% endfor %}-->

						<tr class="rd">
							<td class="redips-rowhandler"><div class="redips-drag redips-row"></div></td>
							<td>
								<div class="redips-drag white">
									<img src="https://cdn-icons-png.flaticon.com/512/426/426750.png?w=1380&t=st=1681199906~exp=1681200506~hmac=fcb5f90ae7cb363b274dfed7153fa68dc76882a74a0463bac3c9dee263239c25"
										 alt="사과" style="width:15px;">
									사과
									<span hidden="hidden">11224021</span>
								</div>
							</td>
							<td>
								<div class="redips-drag white">
									<img src="https://cdn-icons-png.flaticon.com/512/426/426750.png?w=1380&t=st=1681199906~exp=1681200506~hmac=fcb5f90ae7cb363b274dfed7153fa68dc76882a74a0463bac3c9dee263239c25"
										 alt="사과" style="width:15px;">
									딸기
									<span hidden="hidden">22</span>
								</div>
							</td>
							<td></td>
							<td></td>
							<td></td>
<!--							<td class="cdark"></td>-->
						</tr>
                        <tr class="rd">
                            <td class="redips-rowhandler"><div class="redips-drag redips-row"></div></td>
                            <td></td>
							<td>
								<div class="redips-drag white">
									<img src="https://cdn-icons-png.flaticon.com/512/426/426750.png?w=1380&t=st=1681199906~exp=1681200506~hmac=fcb5f90ae7cb363b274dfed7153fa68dc76882a74a0463bac3c9dee263239c25"
										 alt="사과" style="width:15px;">
									사과
									<span hidden="hidden">33</span>
								</div>
							</td>
							<td>
								<div class="redips-drag white">
									<img src="https://cdn-icons-png.flaticon.com/512/426/426750.png?w=1380&t=st=1681199906~exp=1681200506~hmac=fcb5f90ae7cb363b274dfed7153fa68dc76882a74a0463bac3c9dee263239c25"
										 alt="사과" style="width:15px;">
									사과
									<span hidden="hidden">44</span>
								</div>
							</td>
							<td></td>
							<td></td>
						</tr>

						<tr class="rd">
<!--						<tr class="rd">-->
							<td class="redips-rowhandler"><div class="redips-drag redips-row"></div></td>
<!--							<td><div class="redips-drag blue">rows</div></td>-->
                            <td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>
								<div class="redips-drag white">
									<img src="https://cdn-icons-png.flaticon.com/512/426/426750.png?w=1380&t=st=1681199906~exp=1681200506~hmac=fcb5f90ae7cb363b274dfed7153fa68dc76882a74a0463bac3c9dee263239c25"
										 alt="사과" style="width:15px;">
									사과
									<span hidden="hidden">55</span>
								</div>
							</td>
						</tr>
                        <tr class="rd">
                            <td class="redips-rowhandler"><div class="redips-drag redips-row"></div></td>
                            <td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr class="rd">
                            <td class="redips-rowhandler"><div class="redips-drag redips-row"></div></td>
                            <td></td>
							<td>
								<div class="redips-drag white">
									<img src="https://cdn-icons-png.flaticon.com/512/426/426750.png?w=1380&t=st=1681199906~exp=1681200506~hmac=fcb5f90ae7cb363b274dfed7153fa68dc76882a74a0463bac3c9dee263239c25"
										 alt="사과" style="width:15px;">
									사과
									<span hidden="hidden">66</span>
								</div>
							</td>
							<td></td>
							<td>
								<div class="redips-drag white">
									<img src="https://cdn-icons-png.flaticon.com/512/426/426750.png?w=1380&t=st=1681199906~exp=1681200506~hmac=fcb5f90ae7cb363b274dfed7153fa68dc76882a74a0463bac3c9dee263239c25"
										 alt="사과" style="width:15px;">
									사과
									<span hidden="hidden">77</span>
								</div>
							</td>
							<td></td>
						</tr>
						<tr>
<!--							<td colspan="6" class="redips-mark" style="display:none;">-->
							<td colspan="6" class="redips-mark">
                                <span hidden="hidden">Message line</span>
                            </td>
						</tr>
					</tbody>
				</table>

				<table id="fresh-fridge">
					<colgroup>
						<col width="30"/>
						<col width="70"/>
						<col width="70"/>
						<col width="70"/>
						<col width="70"/>
						<col width="70"/>
					</colgroup>
					<tbody>
						<tr>
							<th colspan="6" class="redips-mark">냉장</th>
						</tr>
						<tr class="rl">
							<td class="redips-rowhandler"><div class="redips-drag redips-row"></div></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
                        <tr class="rl">
							<td class="redips-rowhandler"><div class="redips-drag redips-row"></div></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr class="rl">
							<td class="redips-rowhandler"><div class="redips-drag redips-row"></div></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr class="rl">
							<td class="redips-rowhandler"><div class="redips-drag redips-row"></div></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr class="rl">
							<td class="redips-rowhandler"><div class="redips-drag redips-row"></div></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr class="rl">
							<td class="redips-rowhandler"><div class="redips-drag redips-row"></div></td>
							<td></td>
							<td>
								<div class="redips-drag white">
									<img src="https://cdn-icons-png.flaticon.com/512/426/426750.png?w=1380&t=st=1681199906~exp=1681200506~hmac=fcb5f90ae7cb363b274dfed7153fa68dc76882a74a0463bac3c9dee263239c25"
										 alt="사과" style="width:15px;">
									간장
									<span hidden="hidden">8000</span>
								</div>
							</td>
							<td>
								<div class="redips-drag white">
									<img src="https://cdn-icons-png.flaticon.com/512/426/426750.png?w=1380&t=st=1681199906~exp=1681200506~hmac=fcb5f90ae7cb363b274dfed7153fa68dc76882a74a0463bac3c9dee263239c25"
										 alt="사과" style="width:15px;">
									옥수수
									<span hidden="hidden">5000</span>
								</div>
							</td>
							<td></td>
							<td></td>
						</tr>
						<tr class="rl">
							<td class="redips-rowhandler"><div class="redips-drag redips-row"></div></td>
							<td></td>
							<td></td>
							<td>
								<div class="redips-drag white">
									<img src="https://cdn-icons-png.flaticon.com/512/426/426750.png?w=1380&t=st=1681199906~exp=1681200506~hmac=fcb5f90ae7cb363b274dfed7153fa68dc76882a74a0463bac3c9dee263239c25"
										 alt="사과" style="width:15px;">
									체리
									<span hidden="hidden">8081</span>
								</div>
							</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td colspan="6" class="redips-mark"><span>Message line</span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</center>
	</body>
</html>